<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>reqres_login</key>
	<string>https://reqres.in/api/</string>
	<key>reqres_emplooyee_list</key>
	<string>https://reqres.in/api/users?page=1&amp;per_page=12</string>
	<key>reqres_preferred_color_list</key>
	<string>https://reqres.in/api/unknown?per_page=12</string>
	<key>reqres_update_details</key>
	<string>https://reqres.in/api/users</string>
</dict>
</plist>
